
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-block {
    display: block;
}

.error-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.main-container {
    background: #fff;
    border: 0;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    
}
.chat-channel .channel-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7;
    display: block;
}

.channel-list .btn {
    margin-bottom: 10px
}
.chat-channel .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.channel-list .chat-list li {
    padding: 8px 10px;
    list-style: none;
}

.channel-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.channel-list .chat-list li {
    font-size: 15px
}

.chat .chat-header {
    padding: 10px 18px;
    border-bottom: 2px solid #f4f7f6
}


.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-log {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-log ul {
    padding: 0
}

.chat .chat-log ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-log ul li:last-child {
    margin-bottom: 0px
}


.chat .chat-log .message-data {
    margin-bottom: 15px
}

.chat .chat-log .message:hover {
    background: #bababa;
    cursor: pointer
}

.chat .chat-log .message-data img {
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.chat .chat-log .message-data-time {
    color: #434651;
    padding-left: 6px;
    font-size: smaller;
}

.chat .chat-log .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    display: inline-block;
    position: relative
}

.chat .chat-log .my-message {
    background: #efefef
}

.chat .chat-message {
    padding: 20px
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

#text-channel-template {
    display: none;
}

#channel-cog, .btn-outline-secondary {
    margin-right: 10px;
}

#switch-channel-button {
    margin-right: 10px;
    display: none;
}

#message-template {
    display: none;
}

#user-item-template {
    display: none;
}

#previous-page {
    display: none;
}

/* For mobile device */
@media only screen and (max-width: 767px) {
    .chat-channel .channel-list {
        height: 665px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: 0px;
        display: none
    }
    .chat-channel .channel-list.open {
        left: 0
    }
    .chat-channel .chat {
        margin: 0
    }
    
    .chat-channel .chat-log {
        height: 300px;
        overflow-x: auto
    }
    #switch-channel-button {
        display: block
    }
} 

/* For Tablets */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-channel .chat-list {
        height: 450px;
        overflow-x: auto;

    }
    .chat-channel .chat-log {
        /* height: 600px; */
        height: calc(100vh - 200px);
        overflow-x: auto
    }

    .chat-channel .channel-list {
        display: block;
    }
}

/* laptop screen */
@media only screen and (min-device-width: 992px) {
    .chat-channel .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-channel .chat-log {
        height: calc(100vh - 150px);
        overflow-x: auto
    }
    .chat-channel .channel-list {
        display: block;
    }
}